<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts School of Witchcraft & Wizardry</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/students">Students</a>
        </li>
        <li>
          <a href="/students/new">Add a New Student</a>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
