<form action="/students" method="POST">

  <label for="first-name-input">First Name</label>
  <input type="text" name="first_name" id="first-name-input">

  <label for="last-name-input">Last Name</label>
  <input type="text" name="last_name" id="last-name-input">

  <label for="age">Age</label>
  <input type="text" name="age" id="age">

  <label for="house_id">House</label>
  <select class="" name="house" id="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>
  
  <input type="submit" value="Add New Student">

</form>
